{
    "extends": "airbnb",
    "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "mocha": true
    },
    "rules": {
      "react/jsx-filename-extension": false,
      "react/no-typos": false,
      "jsx-a11y/anchor-is-valid": [ "error", {
        "components": [ "Link" ],
        "specialLink": [ "to" ]
      }]
    }
}